<div class="row" id="bankrichcontainer">
    <div class="col-xs-12">
        <div class="panel panel-primary" id="bankrich-box">
            <div class="panel-heading1 panel-heading">
                <div class="flagsprite pull-right btn-link"
                     data-bind="css: 'flagsprite-' + CountryId().toLowerCase(), click: function(){viewCountryProfile(CountryId().toLowerCase())}"></div>
                <span class="fa icon-piggy7 marginright6"></span> Transactions
            </div>
            <div class="panel-body">
                @Html.Partial("_Top10RicheshtItem")
            </div>
        </div>
    </div>
</div>



