<div class="row ">
    <div class="col-xs-12 ">
        <div class="col-md-3">
        </div>
        <div class="col-md-5">
            <div class="panel panel-primary register-form">
                <h3 class="text-center">Thinkara</h3>
                <div class="panel-heading1 panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <strong>Confirm Email</strong>
                        </div>
                        <div class="col-xs-6 text-right">
                            <strong>
                                <i class="fa fa-envelope-o fa-2x"></i>
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="panel-body padding3centt">
                    <div class="row ">
                        <div class="col-xs-12 ">
                            <section>
                                <span class=fontisze90>
                                    Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink"})
                                </span>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
