  <connectionStrings>
    <!-- TODO: Replace the ****'s with the correct entries -->
    <add name="MySQLConnectionString" connectionString="server=ubuntu14; user id=root; password=sqlapps; database=planetgeni; pooling=false;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="DefaultConnection" connectionString="server=ubuntu14; user id=root; password=sqlapps; database=planetgeniidentity; pooling=false;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <!--<add name="DefaultConnection" providerName="MySql.Data.MySqlClient" connectionString="Database=planetgeni;Data Source=us-cdbr-azure-northcentral-a.cleardb.com;User Id=ba3626b9c2b0e0;Password=249d0a96" />
    <add name="ElmahConnectionString" providerName="MySql.Data.MySqlClient" connectionString="Database=planetgeni;Data Source=us-cdbr-azure-northcentral-a.cleardb.com;User Id=ba3626b9c2b0e0;Password=249d0a96" />-->
    <add name="elmah-mysql" connectionString="server=ubuntu14; user id=root; password=sqlapps; database=elmah; pooling=false;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
 