<div id="statusContainer">
    <a href="#" id="statusButton"><span>Status</span><em></em></a>
    <div style="clear: both"></div>
    <div id="statusBox">
        <form id="statusForm">
            <fieldset id="body">
                <legend></legend>
                <fieldset>
                    <legend>Set Status</legend>
                    <a href="#">Online</a>
                    <a href="#">Busy</a>
                    <a href="#">Away</a>
                    <a href="#">Appear Offline</a>
                </fieldset>
                <fieldset>
                    <legend>Block/Unblock</legend>
                    <a href="#">Block Friends...</a>
                    <a href="#">UnBlock Friends...</a>
                </fieldset>

            </fieldset>

        </form>
    </div>
</div>
