<div class="container padding3centt" id="educationEnrollItemcontent-box">
    <div id="educationEnrollcontent-wrapper" data-bind="foreach: { data: majorCodes(), afterRender: $root.AfterEducationRenderAction}">
        <!-- ko if: Status() !='H' -->
        <div class="col-md-12 col-xs-12 productbox">
            <div class="row">
                <div class="col-xs-6">
                    <div class="pull-left">
                        <span class="fa fa-info-circle fa-2x" data-toggle="popover" data-bind="attr:{'data-content':Description()}"></span>
                    </div><span class="fa fa-10x" data-bind="css: ImageFont"></span>
                </div>
                <div class="col-xs-6 ">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right" title="Cost of degree">
                                <i class="fa icon-money28  text-danger fa-1x"></i>
                                <span class="text-danger fa-1x" data-bind="text:numeral(Cost()).format('0,0.00')">            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right" title="Duration for Completion in hrs">
                                <i class="fa fa-clock-o text-success fa-1x"></i>
                                <span class="text-success fa-1x" data-bind="text:Duration().toFixed(2) +  ' hrs'">            </span>
                            </div>
                        </div>
                    </div> <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right" title="Rank">

                                <i class="fa fa-cubes text-success fa-1x"></i>
                                <span class="text-success fa-1x" data-bind="text:MajorRank()">            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right" title="Job Probability">
                                <i class="fa fa-line-chart text-warning fa-1x"></i>
                                <span class="text-warning fa-1x" data-bind="text:JobProbability().toFixed(2) + '%'"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-11">
                        <span class="text-info fa-2x" data-bind="text:MajorName(), title:MajorName()"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-bind="attr:{'data-majorid': MajorId(), 'data-degreeid': DegreeId(), 'daat-index':$index}, checked: $root.enrollingDegreeCodes, checkedValue:$index">
                                <span class="fa-1x" data-bind="text:DegreeName()"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <span class="pull-right fa-2x" data-bind="css:DegreeImageFont()"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>
