<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-3">
            <span class="pull-left fa-2x" data-bind="css:DegreeImageFont, attr:{title: DegreeName}"></span>
        </div>
        <div class="col-xs-6 text-success text-right">
            <span class="pull-left" data-bind="text: DegreeName"></span>
        </div>
        <div class="col-xs-3 text-success text-right">
            <span class="pull-right" data-bind="text: Total"></span>
        </div>
    </div>
</div>

