<div class="padding3centt">
    <hr />
    <div class="col-xs-12">
        <div class="panel panel-default recipients">
            <div class="panel-heading">
                <span class="colorwhite">
                    Agenda
                </span>
            </div>
            <div class="panel-body" id="electionAgenda">
                <ul class="checkbox list-unstyled" data-bind="foreach: { data: electionagendas}">
                    <li>
                        <input type="checkbox" name="partyAgenda" data-bind="value:AgendaTypeId, checked : $root.electionAgendasSelected , click: $root.countCheck">
                        <span class="fontsize80" data-bind="text:AgendaName"></span>
                    </li>
                </ul>
            </div>
            <div class="panel-footer fontsize80" id="electionAgendaFooter">
                <span class="text-muted" data-bind="text:electionAgendasSelected().length"> Agenda selected</span>
                <span class="text-muted"> Agenda selected</span>
                <!-- ko if:  electionAgendasSelected().length < 3 -->
                     <span class="text-danger fontsize90 pull-right">3 Agenda Requried</span>
                <!-- /ko -->
                <!-- ko if:  electionAgendasSelected().length > 5 -->
                <span class="text-success fontsize90 pull-right">6 Agenda Allowed</span>
                <!-- /ko -->

            </div>
        </div>
    </div>
</div>
