<div class="row" id="elecandidatecontainer">
    <div class="col-xs-12">
        <div class="panel panel-primary" id="elecandidate-box">
            <div class="panel-heading1 panel-heading">
                <div class="flagsprite pull-right btn-link"
                     data-bind="css: 'flagsprite-' + CountryId().toLowerCase(), click: function(){viewCountryProfile(CountryId().toLowerCase())}"></div>
                <span class="fa icon-man371  marginright6"></span> Candidates
            </div>
            <div class="panel-body">

                @Html.Partial("_CandidateSearch")

                @Html.Partial("_CandidateItem")
            </div>
            <div class="panel-footer" id="elecandidate-box-footer">
                <div class="row padding3centt">
                    <div class="col-xs-6">
                        <span class="label label-info" data-bind="text: filteredcandidates().length"></span>
                    </div>
                    <div class="col-xs-3"></div>
                    <div class="col-xs-3">
                        <span class="btn btn-shadow btn-success btn-sm pull-right" id="candidateshowmore"><i class="fa fa-plus"></i> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



