<div data-bind="foreach:{data:EleResults}">
    <div class="row">
        <div class="col-xs-12">
            <span data-bind="text:'Election ' + ElectionId()"></span>
        </div>
        <div class="col-xs-12 dividertop text-center">
            <div class="col-xs-6  emphasis">
                <h4><strong data-bind="css:ElectionResultCss(), text:ElectionResult()">  </strong></h4>
                <p><small>Result</small></p>

            </div>
            <div class="col-xs-6 emphasis">
                <h4><strong data-bind="text:Score"></strong></h4>
                <p><small>Votes</small></p>
            </div>
        </div>
    </div>
</div>
