<div id="electionticketcontainer">
    <div class=" row">
        <div class="col-xs-12">
            <div class="panel panel-primary" id="partyViewcontent-box">
                <div class="panel-heading1 panel-heading">
                    <div class="flagsprite pull-right btn-link"
                         data-bind="css: 'flagsprite-' + CountryId().toLowerCase(), click: function(){viewCountryProfile(CountryId().toLowerCase())}"></div>
                    <span class="fa icon-man371 "></span> Election Ticket
                </div>
                <div class="panel-body">
                    @Html.Partial("_ElectionTicketItem")
                </div>
            </div>
        </div>
    </div>
</div>

