<div id="jobSummarycontainer">
    <div class=" row">
        <div class="col-xs-12">
            <div class="panel panel-primary" id="myjobsummarycontent-box">
                <div class="panel-heading1 panel-heading">
                    <div class="flagsprite pull-right btn-link"
                         data-bind="css: 'flagsprite-' + CountryId().toLowerCase(), click: function(){viewCountryProfile(CountryId().toLowerCase())}"></div>
                    <span class="fa icon-online32 marginright6 ">
                    </span> Job Summary
                </div>
                <div class="panel-body">
                    @Html.Partial("_JobSummaryItem")
                </div>
            </div>
        </div>
    </div>
</div>
