<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="MySQLConnectionString" connectionString="server=192.168.10.140; user id=root; password=sqlapps; database=PlanetX; pooling=false;" providerName="MySql.Data.MySqlClient" />
    <add name="PlanetXContext" connectionString="server=192.168.10.140;User Id=root;password=sqlapps;Persist Security Info=True;database=PlanetX" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webhttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://planetx.com/TrendingTopics/TrendingService.svc" name="TrendingService.TrendingService" binding="webHttpBinding" contract="TrendingTopicsServiceReference.ITrendingService" behaviorConfiguration="webhttp" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="enableSimpleMembership" value="false" />
    <add key="redis.server" value="192.168.10.140" />
    <add key="redis.port" value="6379" />
    <add key="redis.password" value="planetx" />
    <add key="trendingTopicUrl" value="http://planetx.com/TrendingTopics/TrendingService.svc" />
    <add key="searchServiceUrl" value="http://planetx.com/SearchService/SearchService.svc" />
    
  </appSettings>
    <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>