<div class=" row padding3centt" id="sendGiftMerchandiseFriend">
    <div class="col-xs-12">
        <div class="panel panel-default recipients">
            <div class="panel-heading">
                <span class="button-checkbox pull-right margintop-5">
                    <button type="button" class="btn btn-sm" data-color="default">All</button>
                    <input type="checkbox" id="giftfriendmerchandiseall" class="hidden" />
                </span>
                <span class="colorwhite">
                    Friends
                </span>
            </div>
            <div class="panel-body col-xs-12" id="giftfriendMerchandiseList" data-bind="foreach: friendDetailsDTO">
                <div class="recipient col-xs-6"
                     data-bind="attr: {title: FullName}, click: $parent.clickgiftmerchandisefriends">
                    <i data-bind="css: 'user-status' + OnlineStatus" class="pull-left"></i>
                    <img class="img-check" width="28px" height="28px" data-bind="attr: {src: profilepicContainer+Picture , title: NameFirst }">
                    <p data-bind="text: FullName"></p>
                    <input type="checkbox" data-bind="value: FriendUserId" class="hidden">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="panel-footer fontsize80 " id="friendMerchandiseListFooter">
                <span data-bind="text: ToId().length"></span>
                <span class="text-muted"> friend(s) selected</span>
            </div>
        </div>
    </div>
</div>
