<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.6.0" newVersion="6.9.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings file="user.config">
    <add key="JobId" value="9" />
    <!--// 15mins-->
    <add key="sendemail.notification" value="false" />
    <add key="DaysInterval" value="0.010416" />
    <add key="redis.server" value="ubuntu14" />
    <add key="redis.port" value="6379" />
    <add key="redis.syncTimeout" value="14000" />
    <add key="redis.ssl" value="false" />
    <add key="redis.password" value="planetx" />
    <add key="redis.database" value="0" />
  </appSettings>
  <connectionStrings>
    <add name="MySQLConnectionString" connectionString="server=ubuntu14; user id=root; password=sqlapps; database=planetgeni; pooling=false; default command timeout=600;" providerName="MySql.Data.MySqlClient" />
    <add name="DefaultConnection" connectionString="server=ubuntu14; user id=root; password=sqlapps; database=planetgeniidentity; pooling=false;default command timeout=600;" providerName="MySql.Data.MySqlClient" />
    <add name="elmah-mysql" connectionString="server=ubuntu14; user id=root; password=sqlapps; database=elmah; pooling=false;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>