<div class="container padding3centt" id="lotteryMyPick3WinItemcontent-box">
    <fieldset>
        <legend class="text-warning fontsize120">
            Winning Numbers
        </legend>
        <div id="lotteryMyPick3Wincontent-wrapper" data-bind="foreach: { data: myPick3}">
            <div class="row padding3centb">
                <div class="col-xs-12 fontsize80">
                    <div class="col-xs-6">
                    </div>
                    <div class="col-xs-6 text-right">
                        <span title="Drawing Date" data-bind="text: ' ' + moment.utc(DrawingDate).local().calendar()"> </span>
                    </div>
                </div>
            </div>
            <div class="row padding3centb">
                <div class="col-xs-12 fa-1_5x text-warning">
                    <div class="col-xs-3">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <i class="fa fa-stack-1x text-success" data-bind="text:Number1"></i>
                        </span>
                    </div>
                    <div class="col-xs-3">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <i class="fa fa-stack-1x text-success" data-bind="text:Number2"></i>
                        </span>
                    </div>
                    <div class="col-xs-3">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <i class="fa fa-stack-1x text-success" data-bind="text:Number3"></i>
                        </span>
                    </div>
                    <div class="col-xs-3">
                        <span class="fontsize70"></span>
                    </div>
                </div>
            </div>
            <!-- ko if: MyPick3s().length >0 -->
            <div class="row padding3centb">
                <div class="col-xs-12 fontsize80">
                    <div class="col-xs-6">
                        <span>Your Picks</span>
                    </div>
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-3">
                        <span>Win</span>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <div data-bind="foreach: { data: MyPick3s}">
                <div class="row">
                    <div class="col-xs-12 fontsize80 text-center">
                        <div class="col-xs-3">
                            <span data-bind="text:Number1, css:Number1Css"></span>
                        </div>
                        <div class="col-xs-3">
                            <span class="" data-bind="text:Number2, css:Number2Css"></span>
                        </div>
                        <div class="col-xs-3">
                            <span class="" data-bind="text:Number3, css:Number3Css"></span>
                        </div>
                        <div class="col-xs-3">
                            <i class="fa icon-money28 text-success"></i>
                            <span class="text-success" data-bind=" text: Amount"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ko if: MyPick3s().length==0 -->
            <div class="fontsize80">
                <small>Picks not bought</small>
            </div>
            <!-- /ko -->

            <hr />
        </div>
    </fieldset>

</div>
