<div id="lotteryMyPick3Wincontainer">
    <div class=" row">
        <div class="col-xs-12">
            <div class="panel panel-primary" id="mylotteryMyPick3Wincontent-box">
                <div class="panel-heading1 panel-heading">
                    <div class="flagsprite pull-right btn-link"
                         data-bind="css: 'flagsprite-' + CountryId().toLowerCase(), click: function(){viewCountryProfile(CountryId().toLowerCase())}"></div>

                    <span class="fa fa-cube  marginright6"></span> Pick3 Wins
                </div>
                <div class="panel-body">
                    @Html.Partial("_MyPick3WinItem")
                </div>
                <div class="panel-footer fontsize90">
                    <div class="row ">
                        <div class="col-xs-6">
                            <h6>
                                <span class="label label-info" title="total picks" data-bind="text: myPick3().length"></span>
                            </h6>
                        </div>
                        <div class="col-xs-3">
                        </div>
                        <div class="col-xs-3">
                            <span id="mypick3winshowmore" class="btn btn-shadow btn-success btn-sm pull-right"><i class="fa fa-plus"></i> </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
