<div class="container padding3centt" id="lotteryPick3Itemcontent-box">
    <div id="lotteryPick3content-wrapper">
        <div class="row ">
            <button type="submit" id="randomPick3"
                    data-loading-text='
                <i class="fa fa-spinner fa-spin"></i> Randomizing...'
                class="btn btn-default btn-shadow pull-right fontsize80"><i class="fa fa-random"></i>
            </button>
        </div>
        <div class="row">
            <div class="col-xs-12 ">
                <div class="col-xs-4 ">
                    <input type="text" value="1" data-cursor=true data-thickness=.3
                           data-linecap="round"
                           class="dial">
                </div>
                <div class="col-xs-4 ">
                    <input type="text" value="2" data-cursor=true data-thickness=.3
                           data-linecap="round"
                           class="dial">
                </div>
                <div class="col-xs-4 ">
                    <input type="text" value="3" data-cursor=true data-thickness=.3
                           data-linecap="round"
                           class="dial">
                </div>
            </div>
        </div>
    </div>
</div>

