<div id="personPopupContainer">
    <div id="personPopupContent">
        <div class="statusBox">
            <form class="statusForm">
                <fieldset class="body">
                    <legend>Set Status</legend>
                    <a id="sendUserOnline">Online</a>
                    <a id="sendUserBusy">Busy</a>
                    <a id="sendUserAway">Away</a>
                    <a id="sendUserOffline">Appear Offline</a>
                </fieldset>
            </form>
        </div>

    </div>
</div>
