<div class=" row">
    <div class="col-xs-12">
        <div class="well well-sm fontsize80">
            <div class="offer offer-radius" data-bind="css:CertificateTextFont()">
                <div class="shape">
                    <div class="shape-text">
                    </div>
                </div>
                <div class="offer-content">
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="pull-left fa-2x" data-bind="css:DegreeImageFont, attr:{title: DegreeName}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="text-center">
                                Certificate Of Completion
                            </h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="text-center">
                                <span data-bind="text: DegreeName"></span>
                                Of
                                <span data-bind="text: MajorName"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="text-center">
                                <span class="fa fa-4x " data-bind="css: ImageFont"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="text-center">
                                <span class="fontsize90">
                                    This certifies that the bearer has successfully satisfied all the conditions prescribed by university for this degree.

                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="text-center">
                                <span class="fa-stack fa-4x ">
                                    <i class="fa fa-certificate fa-stack-2x goldcolor"></i>
                                    <i class="fa fa-trophy fa-stack-1x " data-bind="css:DegreeTextFont()"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
