<div class="recipient col-xs-6" data-bind="attr: {title: FullName}, click: function(){viewUserProfile(FriendUserId)}">
    <i data-bind="css: 'user-status' + OnlineStatus" class="pull-left"></i>
    <img class="img-full" width="28px" height="28px" data-bind="attr: {src: profilepicContainer+Picture , title: NameFirst }">
    <p data-bind="text: FullName"></p>
</div>