<div class="row" id="profileviewcontainer">
    <div class="col-xs-12">
        <div class="panel panel-primary" id="profileview-box">
            <div class="panel-heading1 panel-heading">
                <div class="flagsprite pull-right btn-link"
                     data-bind="css: 'flagsprite-' + CountryId().toLowerCase(), click: function(){viewCountryProfile(CountryId().toLowerCase())}"></div>
                <span class="fa fa-user"></span> Profile
            </div>
            <div class="panel-body">
                @Html.Partial("_ProfileItem")
            </div>
        </div>
    </div>
</div>



