<div id="manageprofile-container">
    <ul class="nav nav-pills">
        <li class="active">
            <a data-toggle="tab" href="#user-info">User Info</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="bank-summary" class="tab-pane fade in active padding3centt autoheight">
            @Html.Partial("_ProfileManageHome")
        </div>
    </div>
</div>