<div class="modal fade" id="tourmodal" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> <p class="modal-title"><i class="fa icon-doubledecker fa-2x marginright6"></i>Show Me Around...</p>
            </div>
            <div class="modal-body fontsize90">
                <div class="row padding3centt">
                    <div class="col-xs-12">
                        <p class="paddingleft5px">
                            Hop On this bus to see around.
                        </p>
                    </div>
                </div>
                <div class="row padding3centt padding3centb">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-shadow btn-success paddingleft5px pull-right" onclick="startTour()" data-dismiss="modal">Let's go!!</button>
                        <button type="button" class="btn btn-shadow btn-warning pull-right marginright6" data-dismiss="modal">I got this</button>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>

