<li>
    <a class="text-center">
        @*<i data-bind="css: 'user-status' + OnlineStatus" class="pull-left"></i>*@
        <img width="28px" height="28px" data-bind="attr: {src: profilepicContainer+Picture , title: NameFirst }, click: function(){viewUserProfile(FriendUserId)}">
    </a>
</li>
