<div class="row padding3centt padding3centb">
    <div class="col-xs-12">
        <fieldset>
            <legend class=" text-warning fontsize120">Party Founder</legend>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-group" data-bind="foreach: {data:AllPartyMembers.Founder, afterRender: $root.afterPartyMemberRenderAction}">
                        <li class="list-group-item">
                            <img class="img-full btn-link" width="28px" height="28px" data-bind="attr: {src: profilepicContainer+Picture , title: FullName }, click: function(){viewUserProfile(UserId)}">
                            <p class="text-ellipsis fontsize80 btn-link" data-bind="attr: {title: FullName},text: FullName, click: function(){viewUserProfile(UserId)}"></p>
                            @Html.Partial("_NavBarMyParty")
                        </li>
                    </ul>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend class=" text-warning fontsize120">Party CoFounder</legend>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-group" data-bind="foreach: {data:AllPartyMembers.CoFounder, afterRender: $root.afterPartyMemberRenderAction}">
                        <li class="list-group-item">
                            <img class="img-full btn-link" width="28px" height="28px" data-bind="attr: {src: profilepicContainer+Picture , title: FullName }, click: function(){viewUserProfile(UserId)}">
                            <p class="text-ellipsis fontsize80 btn-link" data-bind="attr: {title: FullName},text: FullName, click: function(){viewUserProfile(UserId)}"></p>
                            @Html.Partial("_NavBarMyParty")
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row padding3centt">
                <div class="col-xs-2 ">
                    <h6>
                        <span class="label label-info" data-bind="text: AllPartyMembers.CoFounder().length"></span>
                    </h6>
                </div>

                <div class="col-xs-10 ">
                    <span data-bind="attr:{'data-index':$index}, click: $root.clickgetmoreCoFounders" class="btn btn-shadow btn-success btn-sm pull-right"><i class="fa fa-plus"></i> </span>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend class=" text-warning fontsize120">Party Members</legend>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-group" data-bind="foreach: {data:AllPartyMembers.Members, afterRender: $root.afterPartyMemberRenderAction}">
                        <li class="list-group-item" >
                            <img class="img-full btn-link" width="28px" height="28px" data-bind="attr: {src: profilepicContainer+Picture , title: FullName }, click: function(){viewUserProfile(UserId)}">
                            <p class="text-ellipsis fontsize80 btn-link" data-bind="attr: {title: FullName},text: FullName, click: function(){viewUserProfile(UserId)}"></p>
                            @Html.Partial("_NavBarMyParty")
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row padding3centt">
                <div class="col-xs-2 ">
                    <h6>
                        <span class="label label-info" data-bind="text: AllPartyMembers.Members().length"></span>
                    </h6>
                </div>

                <div class="col-xs-10 ">
                    <span data-bind="attr:{'data-index':$index}, click: $root.clickgetmoreMembers" class="btn btn-shadow btn-success btn-sm pull-right"><i class="fa fa-plus"></i> </span>
                </div>
            </div>
        </fieldset>
    </div>
</div>