<div class="row padding3centt ">
    <div class="col-xs-12" id="partysize">
        <fieldset>
            <legend class="text-warning fontsize120">Party size</legend>
            <div class="row fontsize90">
                <div class="col-xs-12 ">
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="partysize" data-lrange="1" data-hrange="100" value="1"> 1 -  100
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="partysize" data-lrange="101" data-hrange="300" value="2">  101 - 300
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fontsize90">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="partysize" data-lrange="301" data-hrange="500" value="3"> 301 - 500
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="partysize" data-lrange="501" data-hrange="0" value="4">  501  - &#8734;
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fontsize90">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="partysize" data-lrange="0" data-hrange="0" checked value="6"> Any
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row padding3centt ">
    <div class="col-xs-12" id="electionvictory">
        <fieldset>
            <legend class="text-warning fontsize120">Election victory</legend>
            <div class="row fontsize90">
                <div class="col-xs-12 ">
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="electionvictory" data-lrange="1" data-hrange="5" value="1"> 1 -  5
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="electionvictory" data-lrange="6" data-hrange="10" value="2">  6 - 10
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fontsize90">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="electionvictory" data-lrange="11" data-hrange="500" value="15"> 11 - 15
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="electionvictory" data-lrange="16" data-hrange="0" value="4">  16  - &#8734;
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fontsize90">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="electionvictory" data-lrange="0" data-hrange="0" checked value="6"> Any
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row padding3centt ">
    <div class="col-xs-12" id="partyworth">
        <fieldset>
            <legend class="text-warning fontsize120">Net Worth (Million)</legend>
            <div class="row fontsize90">
                <div class="col-xs-12 ">
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="partyworth" data-lrange="0" data-hrange="5" value="1"> 0 -  5
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="partyworth" data-lrange="6" data-hrange="10" value="2">  6 - 10
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fontsize90">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="partyworth" data-lrange="11" data-hrange="500" value="15"> 11 - 15
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="partyworth" data-lrange="16" data-hrange="0" value="4">  16  - &#8734;
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fontsize90">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="partyworth" data-lrange="0" data-hrange="0" checked value="6"> Any
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row padding3centt ">
    <div class="col-xs-12" id="membershipFee">
        <fieldset>
            <legend class="text-warning fontsize120">Membership Fee</legend>
            <div class="row fontsize90">
                <div class="col-xs-12 ">
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="membershipFee" data-lrange="0" data-hrange="50" value="1"> 0  - 100
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="membershipFee" data-lrange="101" data-hrange="300" value="2">  101  - 300
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fontsize90">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="membershipFee" data-lrange="301" data-hrange="1000" value="3"> 301  - 1000
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="membershipFee" data-lrange="1001" data-hrange="0" value="4">  1001  - &#8734;
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fontsize90">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="membershipFee" data-lrange="0" data-hrange="0" checked value="5"> Any
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row padding3centt ">
    <div class="col-xs-12" id="partyAgenda">
        <fieldset>
            <legend class="text-warning fontsize120">Agenda</legend>
            <div id="partyagendaCodes" class="fontsize80 row">
                <div class="col-xs-12">
                    <ul class="checkbox list-unstyled" data-bind="foreach: { data: agendaCodes, afterRender: $root.AfterAgendaRenderAction}">
                        <li>
                            <input type="checkbox" name="partyAgenda" data-bind="value:AgendaTypeId">
                            <span data-bind="text:AgendaName"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<hr />
<div class="row padding3centb">
    <button type="submit" id="searchParty" data-bind="disable: showPartySearchValidation()"
            data-loading-text='
        <i class="fa fa-spinner fa-spin"></i> Searching...'
        class="btn btn-default pull-right"><i class="fa fa-search"></i> Search
    </button>
</div>

