<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-10">
            <h6>
                <label data-bind="text: PartyName"></label>
            </h6>
        </div>
        <div class="col-xs-2">
            <div class="flagsprite pull-right btn-link"
                 data-bind="css: 'flagsprite-' + CountryId.toLowerCase(), click: function(){viewCountryProfile(CountryId.toLowerCase())}"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-10">
            <span class="fontsize80" data-bind="text:Motto"></span>
        </div>
    </div>
</div>