<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-4">
            <u>
                <span class="fontsize90" title="total duration of party" data-bind="text:ElectionVictory"></span>
                <span class="fontsize70"></span>
            </u>
            <p title="total election victory of party" class="fontsize70">Victories</p>
        </div>
        <div class="col-xs-4">
            <u>
                <span class="fontsize90" title="one time membership fee to join party" data-bind="text:numeral(MembershipFee).format('0,0.00')"></span>
                <span class="fontsize70"></span>
            </u>
            <p title="one time membership fee to join party" class="fontsize70">Membership Fee</p>
        </div>
        <div class="col-xs-4">
            <div class="pull-right">
                <u>
                    <span class="fontsize90" title="Number of Members in party" data-bind="text:PartySize"></span>
                    <span class="fontsize70"></span>
                </u>
                <p title="Number of Members in party" class="fontsize70">PartySize</p>
            </div>
        </div>
    </div>
</div>

