<ul class="checkbox list-unstyled" data-bind="foreach: { data: agendaCodes}">
    <li>
        <input type="checkbox" name="partyAgenda" data-bind="value:AgendaTypeId, checked:selected">
        <span data-bind="text:AgendaName"></span>
    </li>
</ul>