<div class="container padding3centt" id="loanviewcontent-box">
    <div id="loanviewcontent-wrapper" data-bind="foreach: userLoanMyDetailsDTO">
        <div class=" row">
            @Html.Partial("_LoanItemContent")
        </div>
    </div>
</div>