<div id="securityinventorycontainer">
    <div class=" row">
        <div class="col-xs-12">
            <div class="panel panel-primary" id="securityInventorycontent-box">
                <div class="panel-heading1 panel-heading">
                    <div class="flagsprite pull-right btn-link"
                         data-bind="css: 'flagsprite-' + CountryId().toLowerCase(), click: function(){viewCountryProfile(CountryId().toLowerCase())}"></div>
                    <span class="fa icon-base1 marginright6"></span> National Defense Inventory
                </div>
                <div class="panel-body">
                    @Html.Partial("_InventoryItem")
                </div>
                <div class="panel-footer">
                    <div class="row padding3centt">
                        <div class="col-xs-6">
                            <h6>
                                <span class="label label-info" title="Total Count" data-bind="text: weaponDetailsDTO().length"></span>
                            </h6>
                        </div>
                        <div class="col-xs-6">
                            <span id="securityrefresh" class="btn btn-shadow btn-success btn-sm pull-right"><i class="fa fa-refresh"></i> </span>
                            <span id="securityinvshowmore" class="marginright16 btn btn-shadow btn-success btn-sm pull-right"><i class="fa fa-plus"></i> </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
