<div class="row">
    <div class="col-md-12">
        <div class="well">
            <form role="form" class="form-horizontal">
                <fieldset>
                    <legend class="text-warning fontsize120">Wanted Level</legend>
                    <div class="row margintop5">
                        <div class="col-xs-12 ">
                            <span data-bind="foreach: new Array(parseInt(WantedScore()))">
                                <i class="fa fa-3x fa-star text-danger"></i>
                            </span>
                            <span data-bind="foreach: new Array(parseInt(MaxWantedLevel())-parseInt(WantedScore()))">
                                <i class="fa fa-3x fa-star-o goldcolor"></i>
                            </span>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend class="text-warning fontsize120 padding3centt"> Crime Histroy</legend>
                    <div class="row ">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <span class="fontsize90">Total Arrest</span>
                            </div>
                            <div class="col-xs-6  text-right">
                                <span class="fa icon-criminal26 fa-2x text-warning"></span>
                                <span class="" data-bind="text: ArrestCount()"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row padding3centt">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <span class="fontsize90">Total Loot</span>
                            </div>
                            <div class="col-xs-6  text-right">
                                <span class="fa icon-money194 fa-2x text-success"></span>
                                <strong class="fontsize110" data-bind="text: numeral(LootToDate()).format('0,0.00')" title="Total Amount Robbed"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="row padding3centt">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <span class="fontsize90">Suspect Report</span>
                            </div>
                            <div class="col-xs-6  text-right">
                                <span class="fa icon-criminal32 fa-2x text-warning"></span>
                                <span class="" data-bind="text: SuspectCount()"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row padding3centt">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <span class="fontsize90">Total Robbery</span>
                            </div>
                            <div class="col-xs-6  text-right">
                                <span class="fa icon-robber4 fa-2x text-success"></span>
                                <span class="" data-bind="text: IncidentCount()" title="Total Number of Robbery"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row padding3centt">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <span class="fontsize90">Last Arrest On</span>
                            </div>
                            <div class="col-xs-6  text-right">
                                <!-- ko if: LastArrestDate() !='0001-01-01T00:00:00' -->
                                <span class="fa icon-police19 fa-2x text-danger"></span>
                                <span class="text-info" data-bind="text: moment.utc(LastArrestDate()).local().fromNow(), attr:{title:moment.utc(LastArrestDate()).local().format()}">
                                </span>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>