<div class="row">
    <div class="col-md-12">
        <div class="well">
            <form role="form" class="form-horizontal">
                <fieldset>
                    <legend class="text-warning fontsize120">Your Victim</legend>
                    <div class="row margintop5">
                        <div class="col-xs-12 validation-group ">
                            <div class="input-group bottomMarging15 ">
                                <span class="input-group-addon">
                                    <i class="fa icon-shop3"></i>
                                </span>
                                <div id="ddrobproperty" class="wrapper-dropdown-3 backwhite" tabindex="1">
                                    <span class="text-warning">Select Victim</span>
                                    <ul class="dropdown" data-bind="foreach:{data: friendDetailsDTO()}">
                                        <li data-bind="attr: { 'data-id' : FriendUserId,
    'data-countrycode' : CountryId,'data-onlinestatus' : OnlineStatus,'data-picture' : Picture,'data-fullname' : FullName }">
                                            <a>
                                                <div class="flagsprite pull-right" data-bind="css: 'flagsprite-' + CountryId.toLowerCase()"></div>
                                                <i data-bind="css: 'user-status' + OnlineStatus" class="pull-left"></i>
                                                <img width="28px" height="28px" data-bind="attr: {src: profilepicContainer+Picture }">
                                                <span data-bind="text: FullName"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row " id="selectedPropertyVictim" data-bind="visible:victimPropId()>0">
                        <div class="col-xs-12">
                            <div class="col-xs-4">
                                <a class="btn-link" data-bind="click: function(){viewUserProfile(victimPropId())}">
                                    <i data-bind="css: 'user-status' + victimPropOnlineStatus" class="pull-left"></i>
                                    <img width="56px" data-bind="attr: {src: profilepicContainer + victimPropPicture(), title: victimPropFullName}">
                                </a>
                            </div>
                            <div class="col-xs-7">
                                <a class="btn-link" data-bind="click: function(){viewUserProfile(victimPropId())}">
                                    <span data-bind="text: victimPropFullName, attr:{title: victimPropFullName}"></span>
                                </a>
                            </div>
                            <div class="col-xs-1">
                                <a class="btn-link pull-right " data-bind="click: function(){viewCountryProfile(victimPropCountryCode().toLowerCase())}">
                                    <div class="flagsprite btn-link" data-bind="css: 'flagsprite-' + victimPropCountryCode().toLowerCase(), attr:{title: getCountryName(victimPropCountryCode())}"></div>
                                </a>

                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="panel panel-default" id="propertyrobparent" data-bind="visible: victimProperty().length>0">
                        <div class="panel-heading">
                            <div class="pull-right">
                                <span class="text-right" data-bind="text:victimProperty().length"></span>
                            </div> <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#profileAccordion" href="#propertyprofile">
                                    <i class="fa fa-building-o fa-1x"></i>  Property
                                </a>
                            </h4>
                        </div>
                        <div class="panel-body" id="propertyrob" data-bind="foreach: { data: victimProperty}">
                            <div class="row ">
                                <div class="col-xs-12">
                                    <input type="radio"
                                           data-bind="checked:$root.robbedProperty, value:MerchandiseTypeId"><span class="marginleft15 fontsize90">Lift This One <i class="fa fa-arrow-down"></i></span>
                                </div>
                            </div>
                            @Html.Partial("../UserProfile/_PropertyProfile")
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>