<form role="form" id="adsform" class="form-horizontal fontsize90">
    <div class="well ">
        <fieldset>
            <legend class="text-warning fontsize120">Type </legend>
            <div class="form-group padding14">
                <ul class="list-unstyled" data-bind="foreach: AdsTypeList()">
                    <li>
                        <div class="input-group bottomMarging15">
                            <span class="input-group-addon">
                                <input type="checkbox" data-bind="attr:{'data-id':AdsTypeId}, click:  $parent.adsTypeSelect" name="adsType" />
                            </span>
                            <span class="form-control fontsize90" data-bind="text: AdName, attr:{'data-cost': BaseCost}"></span>
                            <span class="input-group-addon"><i data-bind="css:FontCss()"></i></span>
                        </div>
                    </li>
                </ul>
            </div>
        </fieldset>
    </div>
    <div class="well">
        <fieldset>
            <legend class="text-warning fontsize120">Message</legend>
            <div class="form-group">
                <div class="status-upload">
                    <textarea placeholder="Ads message..." data-bind="value:msgContent" id="adsContent" maxlength="2500" name="adsContent" class=" form-control  empty adsMessgae"></textarea>
                    <div class="paddingl14 padding2centt">
                        <span class="btn-file   paddingl14 marginright6" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture">
                            <i class="fa fa-picture-o fa-1_3x handcursor"></i>
                            <input type="file" id="adsupload">
                        </span>
                        <span class="btn handcursor paddingl14 text-danger" id="adsreset" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Reset">
                            <i class="fa fa-trash-o fa-1_3x"></i>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
        <hr />
        <div class="row padding14 margintop10" data-bind="visible: previewContent().length>0 || uploadprofilePicObj.blobSasUrl().length>0">
            <div class="col-xs-12">
                <div class="adspreview ">
                    <div class="timeline-panel timeline-post">
                        <div class="timeline-heading">
                            <a class="btn-link" data-bind="click: function(){viewUserProfile(userId())}">
                                <img data-bind="attr:{src: profilepicContainer + picture()}" class="avatar" alt="" />
                                <h5 class="timeline-title" data-bind="text: fullName()"></h5>
                                <small class="text-muted pull-right" data-bind="text: moment.utc().local().fromNow()">
                                </small>
                            </a>
                        </div>
                        <div class="timeline-body">
                            <div id="adsuploadprw" data-bind="visible: uploadprofilePicObj.blobSasUrl().length>0" class="pull-left marginright16 thumbnail margintop10">
                            </div>
                            <div class="clearfix"></div>
                            <div class="padding3centt fontsize85">
                                <p data-bind="html:previewContent()" class=" marginright16"></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="well">
        <fieldset>
            <legend class="text-warning fontsize120">Frequency </legend>
            <div class="row paddingl14">
                <div class='col-xs-3'>
                    <div class="form-group">
                        <span>Time</span>
                    </div>
                </div>
                <div class='col-xs-9'>
                    <div class="form-group">
                        <div id="ddtime" class="wrapper-dropdown-3 backwhite bottomMarging15">
                            <span>Select A Time</span>
                            <input type="hidden" name="adstime" />
                            <ul class="dropdown" data-bind="foreach: TimeCodes()">
                                <li data-bind="attr:{'data-id': $data}">
                                    <a>
                                        <i class="fa  fa-clock-o fa-lg">
                                        </i>
                                        <span data-bind="text: $data + ':00 Hrs'"></span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row paddingl14">
                <div class='col-xs-3'>
                    <div class="form-group">
                        <span>Start</span>
                    </div>
                </div>
                <div class='col-xs-9'>
                    <div class="form-group">
                        <div class='input-group date' id='adsStartDate'>
                            <input type='text' class="form-control" name="adsStartDate" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row paddingl14">
                <div class='col-xs-3'>
                    <div class="form-group">
                        <span>End</span>
                    </div>
                </div>
                <div class='col-xs-9'>
                    <div class="form-group">
                        <div class='input-group date' id='adsEndDate'>
                            <input type='text' class="form-control" name="adsEndDate" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row paddingl14">
                <div class='col-xs-3'>
                    <div class="form-group">
                        <span>Reccur</span>
                    </div>
                </div>
                <div class='col-xs-9'>
                    <div class="form-group">
                        <div id="ddrecur" class="wrapper-dropdown-3 backwhite bottomMarging15">
                            <span>Recurrence Pattern</span>
                            <input type="hidden" name="adsfrequency" />
                            <ul class="dropdown" data-bind="foreach: FrequencyAds()">
                                <li data-bind="attr: { 'data-id' : AdsFrequencyTypeId }">
                                    <a>
                                        <i class="fa  fa-clock-o fa-lg">
                                        </i>
                                        <span data-bind="text:FrequencyName"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row paddingl14">
                <div class='col-xs-12'>
                    <div class="form-group">
                        <div class="btn-group pull-right hidden" id="adsDaysInweek" data-toggle="buttons" data-bind="foreach: DaysInWeek()">
                            <label class="btn btn-default fontsize80" data-bind="click: $parent.adsDaysSelect,attr:{'data-id': $index}">
                                <input type="checkbox" name="adsDays">
                                <span data-bind="text: $data"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</form>
