<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" />
    <pages validateRequest="false" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour" >
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>


    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="false" />
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="FetchWebContent.FetchWebContent">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          bindingConfiguration="webHttpBindingWithJsonP" contract="FetchWebContent.IFetchWebContent" />
      </service>
    </services>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <appSettings>
    <!-- require https for this instance of PlanetX? -->
    <add key="PlanetX:requireHttps" value="false" />
    <!-- 
        These settings go hand in hand. If you turn https on you might want to 
        proxy images so that browsers don't show the warning.
    -->
    <add key="PlanetX:proxyImages" value="false" />
    <!-- Proxy up 5MB images by default then 404 -->
    <add key="PlanetX:proxyImageMaxSizeBytes" value="5242880" />

    <!-- Upload providers -->
    <!-- 5 MB uploads is max by default -->
    <add key="PlanetX:maxFileUploadBytes" value="5242880" />

  </appSettings>
</configuration>
