<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour" >

          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="false" />
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="TrendingService.TrendingService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          bindingConfiguration="webHttpBindingWithJsonP" contract="TrendingService.ITrendingService" />
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <remove name="PlanetXContext" />
    <remove name="MySQLConnectionString" />
    <add name="MySQLConnectionString" connectionString="server=192.168.10.140; user id=root; password=sqlapps; database=PlanetX; pooling=false;" providerName="MySql.Data.MySqlClient" />
    <add name="PlanetXContext" connectionString="server=192.168.10.140;User Id=root;password=sqlapps;Persist Security Info=True;database=PlanetX" providerName="MySql.Data.MySqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="Trendingtopics.maxTag" value="10" />
    <add key="Trendingtopics.timeLimitMinute" value="20" />
    <add key="redis.cacheOn" value="True" />
    <add key="redis.cacheExpiration" value="1000" />
    <add key="redis.database" value="0" />
    <add key="redis.TrendingTopicsKey" value="TrendingTopics" />
    <add key="redis.server" value="192.168.10.140" />
    <add key="redis.port" value="6379" />
    <add key="redis.password" value="planetx" />
  </appSettings>
</configuration>