<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="MySQLConnectionString" connectionString="server=192.168.10.140; user id=root; password=sqlapps; database=PlanetX; pooling=false;" providerName="MySql.Data.MySqlClient" />
    <add name="PlanetXContext" connectionString="server=192.168.10.140;User Id=root;password=sqlapps;Persist Security Info=True;database=PlanetX" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="redis.server" value="192.168.10.140" />
    <add key="redis.port" value="6379" />
    <add key="redis.password" value="planetx" />
    <add key="redis.autoComplete.CityList.Key" value="C" />
    <add key="redis.autoComplete.CityList.PrefixKey" value="P" />
    <add key="redis.autoComplete.WebUserList.Key" value="N" />
    <add key="redis.autoComplete.WebUserList.PrefixKey" value="W" />
    
    <add key="redis.autoComplete.CityList.StartIndex.Insert" value="0" />
    <add key="redis.autoComplete.CityList.StartIndex.Delete" value="0" />
    <add key="redis.autoComplete.CityList.StartIndex.Update" value="0" />
    
    <add key="redis.autoComplete.WebUserList.StartIndex.Insert" value="0" />    
    <add key="redis.autoComplete.WebUserList.StartIndex.Update" value="0" />
    <add key="redis.autoComplete.WebUserList.StartIndex.Delete" value="0" />

    <add key="redis.autoComplete.WebUserList.ProcedureName.Total.Insert.Initial" value="GetWebUserByRangeTotal" />
    <add key="redis.autoComplete.WebUserList.ProcedureName.Total.Update.Initial" value="" />
    <add key="redis.autoComplete.WebUserList.ProcedureName.Total.Delete.Initial" value="" />
    <add key="redis.autoComplete.WebUserList.ProcedureName.Insert.Initial" value="GetWebUserByRange" />
    <add key="redis.autoComplete.WebUserList.ProcedureName.Update.Initial" value="" />
    <add key="redis.autoComplete.WebUserList.ProcedureName.Delete.Initial" value="" />

    <add key="redis.autoComplete.CityList.ProcedureName.Total.Insert.Initial" value="GetCityListByRangeTotal" />
    <add key="redis.autoComplete.CityList.ProcedureName.Total.Update.Initial" value="" />
    <add key="redis.autoComplete.CityList.ProcedureName.Total.Delete.Initial" value="" />
    
    <add key="redis.autoComplete.CityList.ProcedureName.Insert.Initial" value="GetCityListByRange" />
    <add key="redis.autoComplete.CityList.ProcedureName.Update.Initial" value="" />
    <add key="redis.autoComplete.CityList.ProcedureName.Delete.Initial" value="" />

    <add key="redis.autoComplete.WebUserList.ProcedureName.Total.Insert.Updates" value="GetWebUserInsertUpdatesByRangeTotal" />
    <add key="redis.autoComplete.WebUserList.ProcedureName.Total.Update.Updates" value="GetWebUserUpdateUpdatesByRangeTotal" />
    <add key="redis.autoComplete.WebUserList.ProcedureName.Total.Delete.Updates" value="GetWebUserDeleteUpdatesByRangeTotal" />
    
    <add key="redis.autoComplete.WebUserList.ProcedureName.Insert.Updates" value="GetWebUserInsertByRange" />
    <add key="redis.autoComplete.WebUserList.ProcedureName.Update.Updates" value="GetWebUserUpdateByRange" />
    <add key="redis.autoComplete.WebUserList.ProcedureName.Delete.Updates" value="GetWebUserDeleteByRange" />

    <add key="redis.autoComplete.CityList.ProcedureName.Total.Insert.Updates" value="GetCityListInsertUpdatesByRangeTotal" />
    <add key="redis.autoComplete.CityList.ProcedureName.Total.Update.Updates" value="GetCityListUpdateUpdatesByRangeTotal" />
    <add key="redis.autoComplete.CityList.ProcedureName.Total.Delete.Updates" value="GetCityListDeletetUpdatesByRangeTotal" />
    
    <add key="redis.autoComplete.CityList.ProcedureName.Insert.Updates" value="GetCityListInsertByRange" />
    <add key="redis.autoComplete.CityList.ProcedureName.Update.Updates" value="GetCityListUpdateByRange" />
    <add key="redis.autoComplete.CityList.ProcedureName.Delete.Updates" value="GetCityListDeleteByRange" />


    
    <!--IndexType 0 (Initial) 1 (Updates)-->
    <add key="redis.autoComplete.CityList.IndexType" value="Initial" />
    <add key="redis.autoComplete.WebUserList.IndexType" value="Initial" />
    <!--Index (CityList)  (WebUserList)-->
    <add key="redis.autoComplete.Index" value="CityList" />
    <add key="redis.autoComplete.database" value="1" />
    <add key="redis.autoComplete.TaskCount.Insert" value="4" />
    <add key="redis.autoComplete.TaskCount.Update" value="4" />
    <add key="redis.autoComplete.TaskCount.Delete" value="4" />
    
  </appSettings>
</configuration>