<div class="centered">
    <table class="dashboard">
        <tr>
            <td>
                <a id="nav-suitcase" href="#">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-square-o fa-stack-2x colorwhite"></i>
                        <i class="fa fa-suitcase fa-stack-1x colorwhite"></i>
                    </span>
                </a>
            </td>
            <td>
                <a id="nav-heart" href="#">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-square-o fa-stack-2x colorwhite"></i>
                        <i class="fa fa-heart fa-stack-1x colorwhite"></i>
                    </span>
                </a>
            </td>
            <td>

                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x colorwhite"></i>
                    <i class="fa fa-gift fa-stack-1x colorwhite"></i>
                </span>
            </td>
            <td>

                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x colorwhite"></i>
                    <i class="fa fa-calendar fa-stack-1x colorwhite"></i>
                </span>
            </td>

        </tr>
        <tr>


            <td>

                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x colorwhite"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x colorwhite"></i>
                </span>
            </td>
            <td colspan="2" rowspan="2">
                <span class="glyphicon glyphicon-globe"></span>
            </td>

            <td>

                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x colorwhite"></i>
                    <i class="fa fa-glass fa-stack-1x colorwhite"></i>
                </span>
            </td>

        </tr>
        <tr>


            <td>

                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x colorwhite"></i>
                    <i class="fa fa-umbrella fa-stack-1x colorwhite"></i>
                </span>
            </td>

            <td>

                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x colorwhite"></i>
                    <i class="fa fa-headphones fa-stack-1x colorwhite"></i>
                </span>
            </td>

        </tr>
        <tr>
            <td>

                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x colorwhite"></i>
                    <i class="fa fa-compass fa-stack-1x colorwhite"></i>
                </span>
            </td>
            <td>

                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x colorwhite"></i>
                    <i class="fa fa-superscript fa-stack-1x colorwhite"></i>
                </span>
            </td>
            <td>

                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x colorwhite"></i>
                    <i class="fa  fa-microphone fa-stack-1x colorwhite"></i>
                </span>
            </td>
            <td>

                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x colorwhite"></i>
                    <i class="fa fa-unlock-alt fa-stack-1x colorwhite"></i>
                </span>
            </td>

        </tr>
    </table>
</div>