@{
    ViewBag.Title = "Home Page";
}
<div class="row clearfix">
    <div class="layoutwidth">
        <div id="myCarousel" class="carousel slide" data-interval="false">

            <div class="carousel-inner">
                <div class="active item">
                    @Html.Partial("_DashBoard")
                </div>
                <div class="item">
                    <div id="carousel1"></div>

                </div>
                <div class="item">
                    <div id="carousel2"></div>

                </div>

                <div class="item">
                    <div id="carousel3"></div>
                </div>


                <div class="item">
                    <div id="carousel4"></div>

                </div>
                <div class="item">
                    <div id="carousel5"></div>

                </div>
                <div class="item">
                    <div id="carousel6"></div>

                </div>
                <div class="item">
                    <div id="carousel7"></div>

                </div>
                <div class="item">
                    <div id="carousel8"></div>

                </div>
                <div class="item">
                    <div id="carousel9"></div>

                </div>
                <div class="item">
                    <div id="carousel10"></div>

                </div>
                <div class="item">
                    <div id="carousel11"></div>

                </div>
                <div class="item">
                    <div id="carousel12"></div>
                </div>
                <div class="item">
                    <div id="carousel13"></div>
                </div>
                <div class="item">
                    <div id="carousel14"></div>
                </div>
                <div class="item">
                    <div id="carousel15"></div>
                </div>
                <div class="item">
                    <div id="carousel16"></div>
                </div>
                <div class="item">
                    <div id="carousel17"></div>
                </div>
                <div class="item">
                    <div id="carousel18"></div>
                </div>
                <div class="item">
                    <div id="carousel19"></div>
                </div>
                <div class="item">
                    <div id="carousel20"></div>
                </div>
                <div class="item">
                    <div id="carousel21"></div>
                </div>
                <div class="item">
                    <div id="carousel22"></div>
                </div>
                <div class="item">
                    <div id="carousel23"></div>
                </div>
                <div class="item">
                    <div id="carousel24"></div>
                </div>
                <div class="item">
                    <div id="carousel25"></div>
                </div>
                <div class="item">
                    <div id="carousel26"></div>
                </div>
            </div>
            <br />

        </div>
    </div>
</div>
@Html.Partial("../TimeLine/_AddPost")
<div class="row clearfix padding3centt">
    <div class="layoutwidth">
        <ul class="timeline" id="timefeed"></ul>
    </div>
</div>

