<div id="cityCountryAutoComplete" class="hidden">
    <input id="newBusinessCity" type="text" size="35" value="" placeholder="City Name" data-cityid="-1" onkeyup="javascript:cityCountryLookup(this.value);" />
    <div id="suggestions"></div>
</div>
